# Configuration file

~CONFIG_VERSION: 0.1.0

world-1169767038 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1308852640 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=anv
    B:overlayEnabled=true
}


world1704789037 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=pearcel

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


